@import 'variables.scss';
@import 'utils.scss';

body {
  margin: 0;
  background-color: #FAF8EF;
  font-family: 'Open Sans', sans-serif;
}

.game {
  position: relative;
  display: inline-block;

  .field {
    display: inline-block;
    background-color: #BBADA0;
    padding: $space-between-cells;
  }
  .field-line {
    height: $cell-size;
  }
  .field-line:not(:last-child) {
    margin-bottom: $space-between-cells;
  }
  .empty-cell {
    display: inline-block;
    background-color: #CDC1B4;
  }
  .empty-cell:not(:last-child) {
    margin-right: $space-between-cells;
  }
  .cell {
    position: absolute;
    color: #776E65;
    font-size: 52px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .empty-cell,
  .cell {
    width: $cell-size;
    height: $cell-size;
  }
  .field,
  .empty-cell,
  .cell {
    border-radius: 3px;
  }
  @for $x from 0 through 3 {
    @for $y from 0 through 3 {
      .cell-position-#{$x}-#{$y} {
        transform: translate3d(getCellX($x), getCellY($y), 0);
      }
    }
  }
  .cell-2 {
    background-color:#EEE4DA;
  }
  .cell-4 {
    background-color: #EDE0C8;
  }
  .cell-8 {
    background-color: #F2B179;
  }
  .cell-16 {
    background-color: #F59563;
  }
  .cell-32 {
    background-color: #F67C5F;
  }
  .cell-64 {
    background-color: #F65E3B;
  }
  .cell-128 {
    background-color: #EDCF72;
  }
  .cell-256 {
    background-color: #EDCC61;
  }
  .cell-512 {
    background-color: #EDC850;
  }
  .cell-1024 {
    background-color: #EDC53F;
  }
  .cell-2048 {
    background-color: #EDC22E;
  }
  .cell-4096 {
    background-color: #3E3933;
  }

}