@import 'variables.scss';

body {
  margin: 0;
  background-color: #FAF8EF;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.game-interface {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.game-score {
  border-radius: 10px;
  min-width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: rgb(187, 95, 14);
  color: rgb(255, 255, 255);

  .score {
    margin-left: 4px;
    display: inline-block;
  }
}

.pop-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 175, 44, .7);
  z-index: 99;
  border-radius: $game-border-radious;

  .pop-over-inner {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 42px;
    mix-blend-mode: soft-light;
  }
  .description {
    font-size: 22px;
    mix-blend-mode: soft-light;
  }
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    opacity: .7;
    transition: opacity .5s;
    cursor: pointer;
    mix-blend-mode: difference;
  }
  .close-btn:hover {
    opacity: .9;
  }
}

.game {
  position: relative;
  display: inline-block;

  .field {
    display: inline-block;
    background-color: #BBADA0;
    padding: $space-between-tiles;
  }
  .field-line {
    height: $tile-size;
  }
  .field-line:not(:last-child) {
    margin-bottom: $space-between-tiles;
  }
  .empty-tile {
    display: inline-block;
    background-color: #CDC1B4;
  }
  .empty-tile:not(:last-child) {
    margin-right: $space-between-tiles;
  }
  .tile {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    background-color: #3E3933;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 1;
  }
  .tile-removed {
    z-index: 0;
  }
  .empty-tile,
  .tile {
    width: $tile-size;
    height: $tile-size;
  }
  .field,
  .empty-tile,
  .tile {
    border-radius: $game-border-radious;
  }
  .tile-2 {
    font-size: 52px;
    color: #776E65;
    background-color:#EEE4DA;
  }
  .tile-4 {
    font-size: 52px;
    color: #776E65;
    background-color: #EDE0C8;
  }
  .tile-8 {
    font-size: 52px;
    color: #776E65;
    background-color: #F2B179;
  }
  .tile-16 {
    font-size: 52px;
    background-color: #F59563;
  }
  .tile-32 {
    font-size: 52px;
    background-color: #F67C5F;
  }
  .tile-64 {
    font-size: 52px;
    background-color: #F65E3B;
  }
  .tile-128 {
    font-size: 36px;
    background-color: #EDCF72;
  }
  .tile-256 {
    font-size: 36px;
    background-color: #EDCC61;
  }
  .tile-512 {
    font-size: 36px;
    background-color: #EDC850;
  }
  .tile-1024 {
    background-color: #EDC53F;
  }
  .tile-2048 {
    background-color: #EDC22E;
  }
}